@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-weight: 400;
    font-size: 56px;
    margin: 0;
    letter-spacing: -0.035em;
}

.description {
    font-weight: 100;
    font-size: 22px;
}

.landing {
    margin-top: 30vh;
    text-align: center;
}

.download {
    flex-wrap: wrap;
    margin-top: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 670px;
}

.download > a > button {
    margin-bottom: 20px;
    border: unset;
    background-color: unset;
    border: 2px solid #888a8c;
    color: white;
    padding: 14px 40px 14px 40px;
    width: 210px;
    border-radius: 8px;
    transition: 0.4s all;
}

.download > a > button:hover,
.download > a > button:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.banner > h2 {
    font-weight: 300;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.banner > hr {
    width: 100%;
}

.banner {
    height: 600px;
    background-color: #202428;
    margin-top: 60px;
    border-radius: 10px;
    max-width: 1120px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.developers {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sylestic,
.everest {
    opacity: 0.7;
    text-align: center;
    transition: 1s all;
}

.sylestic:hover,
.everest:hover {
    opacity: 1;
    cursor: pointer;
}

.sylestic > img,
.everest > img {
    height: 150px;
    border-radius: 100px;
    border: 2px solid #888a8c;
}

.sylestic:hover > a,
.everest:hover > a {
    text-decoration: unset;
}

.card-layout {
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1220px;
    justify-content: space-around;
}

.card {
    padding: 20px;
    background-color: rgba(32, 36, 40, 0.8);
    width: 340px;
    height: 135px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.8s all;
}

.card:hover {
    background-color: rgba(32, 36, 40, 1);
}

.card > h1 {
    margin: 0;
}

.card > p {
    line-height: 28.6px;
    letter-spacing: -0.26px;
    color: #d0d4d8;
}

footer {
    display: flex;
    color: #8f8f8f;
    margin-top: 200px;
    background-color: #202428;
    width: 100%;
    padding: 20px 0 20px 0;
    justify-content: center;
    position: sticky;
    height: 100px;
    top: calc( 100vh - 59px );
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
